<%= form_for(@vehicle) do |f| %>
	<% if @vehicle.errors.any? %>
	<div id="error_explanation">
		<h2><%= pluralize(@vehicle.errors.count, "error") %> prohibited this vehicle from being saved:</h2>

		<ul>
			<% @vehicle.errors.full_messages.each do |message| %>
			<li><%= message %></li>
			<% end %>
		</ul>
	</div>
	<% end %>

	<table class="table">
		<tr>
			<td><%= f.label :plate %></td>
			<td><%= f.text_field :plate, class: 'form-control', required: true, autofocus: true %></td>
		</tr>
		<tr>
			<td><%= f.label :color %></td>
			<td><%= f.color_field :color %></td>
		</tr>
		<tr>
			<td><%= f.label :year %></td>
			<td><%= f.select :year, options_for_select(Vehicle.get_years_for_select, @vehicle.year), {include_blank: 'Select a year from the list'}, {class: 'form-control', required: true} %></td>
		</tr>
		<tr>
			<td><%= f.label :status %></td>
			<td><%= f.select :status, options_for_select(Vehicle.get_status_for_select, @vehicle.status), {}, {class: 'form-control', required: true} %></td>
		</tr>
	</table>

	<div class="actions">
		<%= f.submit "Submit", class: 'btn btn-primary' %>
	</div>
<% end %>
